@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
    font-family: 'MiFuente';
    src: url(Web-TT/FEDEFONT.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Manrope", serif;
    font-weight: 900;
    font-size: 2em;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(img/fondo-20.png);
    background-size: cover;
    background-position: center;
}

p{
    display: none;
    color: white;
    transition: opacity 0.3s ease;
}

.hover:hover p {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hover:hover video, .hover:hover img{
    filter: grayscale(100%) brightness(40%);
    transition: 0.3s;
}

header {
    position: absolute;
    max-width: 1240px;
    margin: auto;
    left: 250px;
}

header img{
    width: 30%;
    height: auto;
}

#intro{
    display: flex;
    justify-content: center;
    height: 80vh;
    gap: 20px;
    max-width: 1240px;
    margin: auto;
    margin-top: 30px;
}

#intro article img{
    object-fit: cover;
    display: block;
    width: 100%;
}

#intro video{
    height: 80vh;
}

#intro article {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50%;
}

#intro p{
    position: absolute;
    text-align: center;
    top: 35%;
}


#afiche{
    display: flex;
    height: 90vh;
    gap: 30px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

#afiche img{
    display: block;
    transition: 0.3s;
}

#afiche article{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#afiche p{
    position: absolute;
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 40%;
}


#tipo {
    margin: 0px 150px;
    display: flex;
    justify-content: center;
    margin: 40px;
    margin-top: 30px;
}

#tipo video{
    max-width: 1240px;
}

#tipo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#tipo article {
    position: relative;
}
    
input{
    font-family: 'MiFuente';
    height: auto;
    font-size: 4em;
    padding: 20px;
    border-radius: 8px;
    border-color: rgb(188, 175, 203);
}

#input {
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    width: 80%;
    margin-top: 30px;
}

#flexremera{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: auto;
    max-width: 1240px;
    margin-top: 30px;
}

#remera{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80vh;
    gap: 20px;   
}

#remera article img{
    object-fit: cover;
    display: block;
    width: 100%;
}

#remera article {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#remera p{
    position: absolute;
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 35%;
}

#remera article:nth-of-type(1){
    grid-column: span 2;
    grid-row: span 2;
}

#remera article:nth-of-type(2){
    grid-column: span 1;
    grid-row: span 1;
    
}

#remera article:nth-of-type(3){
    grid-column: span 1;
    grid-row: span 1;
}




#librillo{
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    width: 80%;
}

#librillo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

#librillo article {
    position: relative;
    margin-top: 30px;
} 

#gama {
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    width: 80%;
}

#gama  img{
    width: 100%;
    margin-top: 30px;
}

#gama  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

#gama article {
    position: relative;
} 

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    color: black;
}

footer img{
    width: 50%;
}

@media screen and (max-width: 1024px) {

    header {
        position:initial;
        justify-content: center;
        display: flex;
    }
    
    header img{
        width: 50%;
    }
    
    #remera {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    #remera article img{
        height: 100%;
    }

    body{
        font-size: 1em;
    }

    #afiche{
        display: flex;
        height: auto;
        gap: 20px;
        justify-content: center;
        margin: auto;
    }
    
    #afiche img{
        width: 100%;
        height: 100%;
    }
    
    #afiche article{
        height: 200%;
        width: 50%;
    }

    #tipo {
        margin: 0px 150px;
        display: flex;
        justify-content: center;
        margin: 0px 30px;
    }
    
    #tipo video{
        width: 100%;
    }
    
    #tipo p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #tipo article {
        position: relative;

    }

    input{
        display: none;
    }

    

    #librillo{
        display: flex;
        justify-content: center;
        max-width: 1240px;
        margin: auto;
        width: 80%;
    }
    
    #librillo video{
        width: 100%;
    }
    
    #librillo p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px;
    }
    
    #librillo article {
        position: relative;
    } 
}

@media screen and (max-width: 767px) {

    #afiche{
        display: flex;
        flex-direction: column;
        height: 130vh;
        gap: 20px;
        justify-content: center;
        margin: auto;
        width: auto;
    }
    
    #afiche img{
        width: 100%;
        height: 100%;
    }
    
    #afiche article{
        height: 200%;
        width: 100%
    }

    #tipo {
        margin: 0px 150px;
        display: flex;
        justify-content: center;
        margin: 0px 30px;
    }
    
    #tipo video{
        width: 100%;
    }
    
    #tipo p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #tipo article {
        position: relative;

    }

    input{
        display: none;
    }

    

    #librillo{
        display: flex;
        justify-content: center;
        max-width: 1240px;
        margin: auto;
        width: 80%;
    }
    
    #librillo video{
        width: 100%;
    }
    
    #librillo p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px;
    }
    
    #librillo article {
        position: relative;
    } 

    #intro{
        flex-direction: column;
        height: 60vh;
    }
    
    #intro article img{
        width: 80%;
    }
    
    #intro video{
        height: 40vh;
    }
    
    #intro article {
        width: 100%;
    }

    header {
        position:initial;
    }
    
    header img{
        width: 50%;
    }

}
